<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content">
    <RelativeLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:paddingLeft="20dp"
        android:paddingRight="20dp"
        android:paddingTop="10dp"
        android:paddingBottom="10dp"
        android:id="@+id/scannedDeliveryRL">
    <!--Not Selected-->
        <TextView
            android:text="Scan No Style"
          android:paddingTop="10dp"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:id="@+id/ScanStyleNameDelivery"
            android:layout_alignParentLeft="true"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
        <TextView
            android:text="Scan style Size"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:id="@+id/scanStyleSizeDelivery"
            android:layout_centerInParent="true"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
      <RelativeLayout
        android:layout_marginRight="15dp"
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"
        android:id="@+id/rlRackNotSelected"
        android:layout_toLeftOf="@+id/rlBoxNotSelected">
        <ImageView
          android:layout_height="wrap_content"
          android:layout_width="wrap_content"
          android:alpha="0.45"
          android:id="@+id/imgRackNotSelected"
          android:src="@drawable/ico_Rack" />
        <TextView
          android:text="0"
          android:id="@+id/RackTotalNotSelected"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:textColor="#000"
          android:textSize="18sp"
          android:layout_centerInParent="true"
          android:textAlignment="center"
          android:paddingRight="0dp"
          android:paddingTop="10dp" />
      </RelativeLayout>
        <RelativeLayout
            android:layout_marginRight="15dp"
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
          android:id="@+id/rlBoxNotSelected"
            android:layout_toLeftOf="@+id/rlExpectedTotalNotSelected">
            <ImageView
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:alpha="0.45"
                android:id="@+id/imgBoxBlueNotSelected"
                android:src="@drawable/ic_boxblue" />
            <TextView
                android:text="0"
                android:id="@+id/nbBoxNotSelected"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textColor="#000"
                android:textSize="18sp"
                android:layout_centerInParent="true"
                android:textAlignment="center"
                android:paddingRight="10dp"
                android:paddingTop="10dp" />
        </RelativeLayout>
      <RelativeLayout
        android:layout_marginRight="0dp"
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"
        android:id="@+id/rlExpectedTotalNotSelected"
        android:layout_alignParentRight="true">
        <ImageView
          android:layout_height="wrap_content"
          android:layout_width="wrap_content"
          android:alpha="0.45"
          android:id="@+id/imgExpectedTotalNotSelected"
          android:src="@drawable/ic_Total" />
        <TextView
          android:text="0"
          android:id="@+id/ScanStyleTotalDeliveryNotSelected"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:textColor="#000"
          android:textSize="18sp"
          android:layout_centerInParent="true"
          android:textAlignment="center"
          android:paddingRight="0dp"
          android:paddingTop="10dp" />
      </RelativeLayout>
       
    <!--Selected-->
        <TextView
            android:visibility="gone"
            android:text="Scan No Style"
            android:textSize="35dp"
            android:id="@+id/ScanStyleNameDeliverySelected"
            android:layout_alignParentLeft="true"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <TextView
            android:visibility="gone"
            
            android:text="Color No Style"
            android:textSize="35dp"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:id="@+id/ScanStyleColorDeliverySelected"
            android:layout_alignParentLeft="true"
            android:layout_below="@id/ScanStyleNameDeliverySelected"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <TextView
            android:visibility="gone"
            android:text="Scan style Size"
            android:id="@+id/scanStyleSizeDeliverySelected"
            android:layout_alignParentLeft="true"
            android:layout_below="@id/ScanStyleColorDeliverySelected"
            android:textAppearance="?android:attr/textAppearanceLarge"
          android:paddingTop="13dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
      <RelativeLayout
        android:visibility="gone"
        android:layout_marginRight="15dp"
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"
        android:id="@+id/rlRackSelected"
        android:layout_below="@id/ScanStyleColorDeliverySelected"
        android:layout_toLeftOf="@+id/rlBoxSelected">
        <ImageView
          android:layout_height="wrap_content"
          android:layout_width="wrap_content"
          android:alpha="0.45"
          android:id="@+id/imgRackSelected"
          android:src="@drawable/ico_Rack" />
        <TextView
          android:text="0"
          android:id="@+id/RackTotalSelected"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:textColor="#000"
          android:textSize="18sp"
          android:layout_centerInParent="true"
          android:textAlignment="center"
          android:paddingRight="0dp"
          android:paddingTop="10dp" />
      </RelativeLayout>
      <RelativeLayout
        android:visibility="gone"
        android:id="@+id/rlBoxSelected"
        android:layout_marginRight="15dp"
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"
        android:layout_below="@id/ScanStyleColorDeliverySelected"
        android:layout_toLeftOf="@+id/rlExpectedTotalSelected">
        <ImageView
          android:layout_height="wrap_content"
          android:layout_width="wrap_content"
          android:alpha="0.45"
          android:id="@+id/imgBoxBlueSelected"
          android:src="@drawable/ic_boxblue" />
        <TextView
          android:text="0"
          android:id="@+id/nbBoxSelected"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:textColor="#000"
          android:textSize="18sp"
          android:layout_centerInParent="true"
          android:textAlignment="center"
          android:paddingRight="10dp"
          android:paddingTop="10dp" />
      </RelativeLayout>
      <RelativeLayout
        android:visibility="gone"
        android:layout_marginRight="0dp"
        android:layout_height="wrap_content"
        android:layout_width="wrap_content"
        android:id="@+id/rlExpectedTotalSelected"
        android:layout_below="@id/ScanStyleColorDeliverySelected"
        android:layout_alignParentRight="true">
        <ImageView
          android:layout_height="wrap_content"
          android:layout_width="wrap_content"
          android:alpha="0.45"
          android:id="@+id/imgExpectedTotalSelected"
          android:src="@drawable/ic_Total" />
        <TextView
          android:text="0"
          android:id="@+id/ScanStyleTotalDeliverySelected"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:textColor="#000"
          android:textSize="18sp"
          android:layout_centerInParent="true"
          android:textAlignment="center"
          android:paddingRight="0dp"
          android:paddingTop="10dp" />
      </RelativeLayout>
    </RelativeLayout>
</FrameLayout>