<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="650dp"
    android:layout_height="match_parent"
    android:paddingTop="20dp"
    android:paddingBottom="20dp"
    android:paddingLeft="50dp"
    android:paddingRight="50dp">
    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/lblTitleAlert"
        android:textColor="@color/bleuNano"
        android:text="CUSTOM"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_marginBottom="10dp" />
    <View
    android:layout_width="fill_parent"
    android:layout_height="3dp"
    android:background="@color/bleuNano"
    android:id="@+id/border"
      android:layout_marginBottom="30dp"/>
    <TextView
        android:layout_width="300dp"
        android:layout_height="wrap_content"
        android:id="@+id/msgAlert"
        android:text="message custom" 
      android:layout_marginBottom="20dp"/>
    <RelativeLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content">
        <Button
            android:text="ANNULER"
            android:layout_width="145dp"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:id="@+id/btnCancelAlert"
            android:layout_marginTop="10dp" />
        <Button
            android:text="OK"
            android:layout_width="145dp"
            android:layout_height="wrap_content"
            android:layout_alignParentRight="true"
            android:id="@+id/btnOkAlert"
            android:layout_marginTop="10dp" />
    </RelativeLayout>
</LinearLayout>